{
	admin localhost:2020
}

ift.balkdalk1778.ru {

	@auth path /oauth2* /oidc* /v1/oauth2* /v2/oauth2*
	@backend path /services* /msa* /async* /processor* /content* /webauth* /routing*
	@mf path /mf*
	@hcms path /projects*

	route {
		root * public
		file_server {
			pass_thru
		}

		handle @auth {
			reverse_proxy https://sso.if.test.vtb.ru
		}

		handle @backend {
			reverse_proxy https://online.if.test.vtb.ru
		}

		handle @mf {
			reverse_proxy https://s1-if.vtbgroup.com
		}

		handle @hcms {
			reverse_proxy https://h.if.vtb.ru
		}

		handle {
			reverse_proxy localhost:3000
		}
	}

}
