{
	admin localhost:2020
}

ift.balkdalk1778.ru {

	route {
		root * /public
		file_server {
			pass_thru
		}

		reverse_proxy /oauth2* /oidc* /v1/oauth2* /v2/oauth2* https://sso.if.test.vtb.ru
		reverse_proxy /services* /msa* /async* /processor* /content* /webauth* /routing* https://online.if.test.vtb.ru
		reverse_proxy /mf* https://s1-if.vtbgroup.com
		reverse_proxy /projects* https://h.if.vtb.ru
		reverse_proxy localhost:3000
	}

}
